@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<div class="main-layout-shell">
    <div class="layout-sidebar">
        <NavMenu />
    </div>

    <div class="layout-main">
        <header class="layout-topbar">
            <AuthorizeView>
                <Authorized>
                    <a href="Account/Logout" class="topbar-link">
                        <span class="rz-button-icon-left rzi rzi-power_settings_new"></span>
                        Logout
                    </a>
                </Authorized>

                <NotAuthorized>
                    <a href="login" class="topbar-link">
                        <span class="rz-button-icon-left rzi rzi-sign-in"></span>
                        Login
                    </a>
                </NotAuthorized>
            </AuthorizeView>
        </header>

        <main class="layout-content">
            @Body
        </main>
    </div>
</div>
